.Dashboard_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    
}

.Dashboard_contant{
    border: 1px solid;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
}

.Dashboard_contant i{
    padding-bottom: 1rem;
}

.Dashboard_contant:nth-child(1) i, .examCount {
    color: rgb(166, 255, 0); 
}

.Dashboard_contant:nth-child(2) i{
    color: rgb(25, 0, 255); 
}

.Dashboard_contant:nth-child(3) i{
    color: red; 
}
.Dashboard_contant:nth-child(4) i{
    color: rgb(0, 255, 85); 
}
